resources/guildSpecificationSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="guildSpecificationSpace">

  <xs:element name="guildSpecifications" type="guildSpecifications"/>
  <xs:complexType name="guildSpecifications">
    <xs:sequence>
      <xs:element name="guildSpecification" type="guildSpecification"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="guildSpecification">
    <xs:attribute name="guildName" type="xs:string"/>
    <xs:attribute name="guildId" type="xs:string"/>
    <xs:attribute name="botifyName" type="xs:string"/>
  </xs:complexType>

</xs:schema>